*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

textarea {
  height: 100px;
}


.error {
  box-sizing: border-box;
  width: 100%;
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Thêm khoảng cách trên để ngăn lỗi trôi lên lần tiếp theo */
}

button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: red;
  cursor: not-allowed;
}

button:hover {
  color: aliceblue;
  background-color: black;
}


/* Login.css */

.App .login{
  /* background-color: rebeccapurple; */
  padding: 0;
  flex-direction: row;
  background-image: url('https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'); /* Thay 'url_cua_anh.jpg' bằng URL thực của ảnh bạn muốn sử dụng */
  background-size: cover; /* Đảm bảo ảnh nền được căn chỉnh sao cho nó bao phủ toàn bộ nền của trang */
  background-repeat: no-repeat; /* Ngăn ảnh nền lặp lại */
  background-attachment: fixed;
}

.login div {
  width: 400px;
  max-width: 400px;
  margin: 0 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.login form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.forgotPassword {
  text-align: right;
  width: 100%;
}


.login .formGroup {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
}

.formGroup > .error {
  /* box-sizing: border-box; */
  width:auto;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  border: none;
  box-shadow: none;
  padding: 0;
  /* Thêm khoảng cách trên để ngăn lỗi trôi lên lần tiếp theo */
}



/* Header.css */

.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0.5rem 2rem;
}

.header h2 {
  color: aliceblue;
}

.header div {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
  height: 100%;
}

.header p{
  color: aliceblue;
}

.header button {
  width: fit-content;
  background-color: transparent;
  border: transparent;
  color: aliceblue;
  padding: 0;
}

.vertical-line{
  border-left: 1px solid aliceblue;
  height: 90%;
  width: 1px;
}

/* Sidebar */
.sidebar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px black solid;
  text-align: left;
}

.sidebar-title{
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  overflow: hidden;
  height: 3rem;
}

.sidebar-title button {
  width: 5rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav a{
  padding: 1rem 1rem;
  height: 4rem;
  font-size: 20px;
}

.sidebar-nav a.active, 
.sidebar-nav a:hover{
  background-color: black;
  color: aliceblue;
}

.list .sidebar {
  width: 100%;
  border: none;
}

/* Section */
.section {
  flex: 1;
  display: flex;
}

.section .list {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.section >div:nth-child(2){
  width: 75%;
}

/* CSS cho thanh trang phân trang */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  list-style-type: none;
  gap: 1px;
}

.pagination li {
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
}

.pagination .selected,
.pagination li:hover {
  cursor: pointer;
  background-color: black;
}

.pagination li{
  display: flex;
}

.pagination li a {
  width: 100%;
  height: 100%;
}

.pagination .selected a,
.pagination li:hover a{
  color: aliceblue;
}

/* Form */


.form  {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1.5rem;
}

.form-content >img {
  flex: 0.5;
  border-radius: 15px;
  width: 20rem;
  display: block;
  margin: 0 auto;

}

.form-content >div {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  text-align: left;
}
.form-content >div>img {
  width: 50px;
}

.form-btnBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Items */
.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.item>div {
  display: flex;
  gap: 1rem;
  
}

.item>div img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

/* Dashboard */
.dashboard {
  display: flex;
  padding: 2rem 4rem;
  height: 100%;
}
.dashboard >div{
  flex: 0.5;
  
}

.dashboard-content {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-content-item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 1px solid black;
  justify-content: space-between;
  padding: 1rem 2rem;
}


.dashboard-content-item img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.dashboard-content-item > div:first-child{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 62%;
}


.btnBox {
  display: flex;
  justify-content: space-between;
  width: 38%;
}

.btnBox button {
  width: 4.5rem;
} 

.titleBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBox button{
  flex: 0.5;
}

/* Restaurant */
.restaurant {
  width: 100%;
}

.restaurant .form-content {
  flex-direction: row;
}

.restaurant .form-content>img{
  width: 50%;
}

/* Food */

.category div{
  display: flex;
  gap: 1.5rem;
}
.category select {
  padding: 0.5rem;
  flex: 1;
}


.category img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}